* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input {
  width: 300px;
  border: 2px solid black;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  margin-bottom: 10px;
}

button {
  margin-left: 5px;
  padding: 5px;
}

.btn {
  background-color: rgb(88, 166, 255);
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.1) !important;
  cursor: pointer;
}

.hidden {
  display: none;
}
