* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

input {
  width: 300px;
}

.hiden {
  display: none;
}
